.breadcrumb {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #eeeeee;

  a {
    color: #666666;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: #333333;
    }
  }

  .separator {
    color: #666666;
    margin: 0 8px;
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    margin-left: 16px;
  }
}
