.image-container {
  width: 180px;
  height: 180px;
  position: relative;
  flex-shrink: 0;
}

.item-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.item-image-large {
  margin-top: 32px;
  object-fit: contain;
  width: 680px;
  height: auto;
  max-height: 680px;
  border-radius: 4px;
  flex: 0 0 auto;

  @media screen and (max-width: 768px) {
    margin-top: 16px;
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    width: 100%;
    height: 180px;
    margin-bottom: 16px;
  }
}
