.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe600;
  padding: 8px 0;

  .container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
  }

  a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;

    .container {
      flex-wrap: nowrap;
    }

    a {
      flex-shrink: 1;
    }
  }

  .icon {
    width: 64px;
    height: 32px;
  }
}
