@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.bg-white {
  background-color: #fff;
  margin-top: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #ddd;
  }

  &:last-child::after {
    display: none;
  }

  @media screen and (max-width: 768px) {
    margin-left: 16px;
    margin-right: 0;
  }
}

li > * {
  transition: transform 0.2s ease-in-out;
}

li:hover > * {
  transform: translateX(8px);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
