.product-detail {
  .product-main {
    display: flex;
    margin-left: 32px;
    margin-top: 32px;

    @media (max-width: 767px) {
      flex-direction: column;
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  .product-info {
    margin-left: 16px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      margin-left: 0;
      padding-right: 0;
      margin-top: 16px;
    }

    .text-base {
      margin-top: 32px;
      margin-bottom: 16px;
      font-size: 14px;

      @media (max-width: 767px) {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }

    .product-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 32px;

      @media (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 16px;
      }
    }

    .price {
      font-size: 46px;
      margin-bottom: 32px;

      @media (max-width: 767px) {
        font-size: 32px;
        margin-bottom: 16px;
      }
    }
  }

  .buy-button {
    background-color: #3483fa;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .product-description {
    max-width: 680px;
    padding-bottom: 32px;
    margin-top: 32px;
    margin-left: 32px;

    @media (max-width: 767px) {
      max-width: 100%;
      margin-left: 16px;
      margin-right: 16px;
      padding-bottom: 16px;
    }

    .text-xl {
      font-weight: 500;
      margin-bottom: 32px;
      font-size: 28px;

      @media (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 16px;
      }
    }

    .text-gray-500 {
      color: #6c757d;
    }
  }
}